@{
    ViewData["Title"] = "Multicines Cinestar";
}
<div class="contenido-interno">
    <br /><h1>Bienvenido a Multicines Cinestar</h1><br />
    <p>Utiliza el menú superior para ver nuestra cartelera y nuestros locales.</p>
</div>